.pet-card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.pet-card:hover {
  transform: scale(1.03);
}

.fixed-img {
  height: 200px;
  object-fit: fill;
  width:50%;
}
